build-settings-Desktop_Qt_5_9_0_MSVC2013_64bit-Debug/
*.autosave
*.user
build-panel_sterowania-Desktop_Qt_5_8_0_MinGW_32bit-Debug/ui_settingswindow.h
build-panel_sterowania-Desktop_Qt_5_8_0_MinGW_32bit-Debug/ui_mainwindow.h
build-panel_sterowania-Desktop_Qt_5_8_0_MinGW_32bit-Debug/settings.ini
build-panel_sterowania-Desktop_Qt_5_8_0_MinGW_32bit-Debug/object_script.panel_sterowania.Release
build-panel_sterowania-Desktop_Qt_5_8_0_MinGW_32bit-Debug/object_script.panel_sterowania.Debug
build-panel_sterowania-Desktop_Qt_5_8_0_MinGW_32bit-Debug/debug/settingswindow.o
build-panel_sterowania-Desktop_Qt_5_8_0_MinGW_32bit-Debug/debug/settings.o
build-panel_sterowania-Desktop_Qt_5_8_0_MinGW_32bit-Debug/debug/panel_sterowania.exe
build-panel_sterowania-Desktop_Qt_5_8_0_MinGW_32bit-Debug/debug/moc_settingswindow.o
build-panel_sterowania-Desktop_Qt_5_8_0_MinGW_32bit-Debug/debug/moc_settingswindow.cpp
build-panel_sterowania-Desktop_Qt_5_8_0_MinGW_32bit-Debug/debug/moc_settings.o
build-panel_sterowania-Desktop_Qt_5_8_0_MinGW_32bit-Debug/debug/moc_settings.cpp
build-panel_sterowania-Desktop_Qt_5_8_0_MinGW_32bit-Debug/debug/moc_predefs.h
build-panel_sterowania-Desktop_Qt_5_8_0_MinGW_32bit-Debug/debug/moc_mainwindow.o
build-panel_sterowania-Desktop_Qt_5_8_0_MinGW_32bit-Debug/debug/moc_mainwindow.cpp
build-panel_sterowania-Desktop_Qt_5_8_0_MinGW_32bit-Debug/debug/moc_UR3Intermediator.o
build-panel_sterowania-Desktop_Qt_5_8_0_MinGW_32bit-Debug/debug/moc_UR3Intermediator.cpp
build-panel_sterowania-Desktop_Qt_5_8_0_MinGW_32bit-Debug/debug/mainwindow.o
build-panel_sterowania-Desktop_Qt_5_8_0_MinGW_32bit-Debug/debug/main.o
build-panel_sterowania-Desktop_Qt_5_8_0_MinGW_32bit-Debug/debug/UR3MessageOut.o
build-panel_sterowania-Desktop_Qt_5_8_0_MinGW_32bit-Debug/debug/UR3Message.o
build-panel_sterowania-Desktop_Qt_5_8_0_MinGW_32bit-Debug/debug/UR3Intermediator.o
build-panel_sterowania-Desktop_Qt_5_8_0_MinGW_32bit-Debug/Makefile.Release
build-panel_sterowania-Desktop_Qt_5_8_0_MinGW_32bit-Debug/Makefile.Debug
build-panel_sterowania-Desktop_Qt_5_8_0_MinGW_32bit-Debug/Makefile
build-panel_sterowania-Desktop_Qt_5_8_0_MinGW_32bit-Debug/.qmake.stash
build-UR3CPP-Desktop_Qt_5_8_0_MinGW_32bit-Debug/ui_settingswindow.h
build-UR3CPP-Desktop_Qt_5_8_0_MinGW_32bit-Debug/ui_mainwindow.h
build-UR3CPP-Desktop_Qt_5_8_0_MinGW_32bit-Debug/ui_connectdialog.h
build-UR3CPP-Desktop_Qt_5_8_0_MinGW_32bit-Debug/object_script.UR3CPP.Release
build-UR3CPP-Desktop_Qt_5_8_0_MinGW_32bit-Debug/object_script.UR3CPP.Debug
build-UR3CPP-Desktop_Qt_5_8_0_MinGW_32bit-Debug/debug/settingswindow.o
build-UR3CPP-Desktop_Qt_5_8_0_MinGW_32bit-Debug/debug/settings.o
build-UR3CPP-Desktop_Qt_5_8_0_MinGW_32bit-Debug/debug/mainwindow.o
build-UR3CPP-Desktop_Qt_5_8_0_MinGW_32bit-Debug/debug/main.o
build-UR3CPP-Desktop_Qt_5_8_0_MinGW_32bit-Debug/debug/UR3MessageOut.o
build-UR3CPP-Desktop_Qt_5_8_0_MinGW_32bit-Debug/Makefile.Release
build-UR3CPP-Desktop_Qt_5_8_0_MinGW_32bit-Debug/Makefile.Debug
build-UR3CPP-Desktop_Qt_5_8_0_MinGW_32bit-Debug/Makefile
build-UR3CPP-Desktop_Qt_5_8_0_MinGW_32bit-Debug/.qmake.stash
